In [1]:
import pandas as pd
import numpy as np

In [2]:
def strToList(df, column, breakChar="|"):
    return [x.replace(" ", "" if breakChar != " " else " ").split(breakChar) if isinstance(x, str) else [] for x in df[column].to_list()]

columnsToDrop = ["budget", "revenue", "popularity", "director","production_companies", "revenue_adj", "vote_count", "vote_average", "budget_adj", "release_date"]

In [3]:
local_data = pd.read_csv("tmdb_movies_data.csv")
local_data = local_data.drop(columns=columnsToDrop)

In [4]:
local_data.isna().sum()

id                   0
imdb_id             10
original_title       0
cast                76
homepage          7930
tagline           2824
keywords          1493
overview             4
runtime              0
genres              23
release_year         0
dtype: int64

In [5]:
local_data.shape

(10866, 11)

In [6]:
# to drop data with null values

# local_data = local_data.loc[local_data['cast'].notna()]
# local_data = local_data.loc[local_data['genres'].notna()]
# local_data = local_data.loc[local_data['keywords'].notna()]

# not dropping rows with null data because we replace that with empty list

In [7]:
local_data['cast'] = strToList(local_data, "cast")
local_data['genres'] = strToList(local_data, "genres")
local_data['keywords'] = strToList(local_data, "keywords")
local_data['overview'] = strToList(local_data, column="overview", breakChar=" ")

In [8]:
local_data.shape

(10866, 11)

In [9]:
local_data.head(4)

,id,imdb_id,original_title,cast,homepage,tagline,keywords,overview,runtime,genres,release_year
0,135397,tt0369610,Jurassic World,"[ChrisPratt, BryceDallasHoward, IrrfanKhan, Vi...",http://www.jurassicworld.com/,The park is open.,"[monster, dna, tyrannosaurusrex, velociraptor,...","[Twenty-two, years, after, the, events, of, Ju...",124,"[Action, Adventure, ScienceFiction, Thriller]",2015
1,76341,tt1392190,Mad Max: Fury Road,"[TomHardy, CharlizeTheron, HughKeays-Byrne, Ni...",http://www.madmaxmovie.com/,What a Lovely Day.,"[future, chase, post-apocalyptic, dystopia, au...","[An, apocalyptic, story, set, in, the, furthes...",120,"[Action, Adventure, ScienceFiction, Thriller]",2015
2,262500,tt2908446,Insurgent,"[ShaileneWoodley, TheoJames, KateWinslet, Anse...",http://www.thedivergentseries.movie/#insurgent,One Choice Can Destroy You,"[basedonnovel, revolution, dystopia, sequel, d...","[Beatrice, Prior, must, confront, her, inner, ...",119,"[Adventure, ScienceFiction, Thriller]",2015
3,140607,tt2488496,Star Wars: The Force Awakens,"[HarrisonFord, MarkHamill, CarrieFisher, AdamD...",http://www.starwars.com/films/star-wars-episod...,Every generation has a story.,"[android, spaceship, jedi, spaceopera, 3d]","[Thirty, years, after, defeating, the, Galacti...",136,"[Action, Adventure, ScienceFiction, Fantasy]",2015

In [10]:
local_data.loc[local_data['release_year'].isin([2015])].shape

(629, 11)

In [11]:
# to zip archive
local_data.to_csv("clean.zip", index=False, compression=dict(method='zip', archive_name='out.csv'))

# to raw csv
local_data.to_csv("clean.csv", index=False)